server_address=127.0.0.1
server_port=9999

db_host=localhost
db_port=3306
db_name=app
db_username=root
db_password=
db_show_sql=true

mail_host=
mail_username=
mail_password=
mail_port=465

max_file_size=25MB
max_request_size=25MB

upload_path=
