<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post Wall</title>
</head>
<body>

<form th:action="@{/editPost/{id}(id=${post.id})}" method="post" th:object="${post}">
    <textarea th:field="*{postMessage}"></textarea>
    <button type="submit" class="btn-success">Сохранить</button>
</form>


<img th:each="image : ${post.images}" th:if="${image != null}" th:src="@{/uploads/image/{id}(id=${image.id})}"
     class="img-thumbnail"
     style="height:200px"/>


<form th:action="@{/addPostPicture/{id}(id=${post.id})}" method="post" enctype="multipart/form-data"
      class="mt-3 mb-5 pb-5">
    <div class="form-group">
        <span th:if="${error}" style="color:red;text-width:bold">Неверный формат файла!</span>
        <input id="file" type="file" name="file" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-success">Загрузить картинку</button>
    </br>
</form>

<ul>
    <li th:each="record : ${post.audioRecords}">
        <span th:text="${record.originalFilename}"></span>
        <a th:href="@{/uploads/audio/{id}(id=${record.id})}" class="play">Play</a>
        <a th:href="@{/uploads/audio/{id}(id=${record.id})}" class="pause">Pause</a>
        <a th:if="${!post.audioRecords.contains(record)}"
           th:href="@{/addPostMusic/{id}/{audioId}(id=${post.id}, audioId=${record.id})}" class="btn btn-success">Add To
            Post</a>
    </li>
</ul>

<ul>
    <li th:each="record : ${user.audioRecords}">
        <span th:text="${record.originalFilename}"></span>
        <a th:href="@{/uploads/audio/{id}(id=${record.id})}" class="play">Play</a>
        <a th:href="@{/uploads/audio/{id}(id=${record.id})}" class="pause">Pause</a>
        <a th:if="${!post.audioRecords.contains(record)}"
           th:href="@{/editPost/{id}/{audioId}(id=${post.id}, audioId=${record.id})}" class="btn btn-success">Add To
            Post</a>
    </li>
</ul>

<audio id="sound" preload="auto" controls></audio>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/sound.js}"></script>
</body>
</html>