<!DOCTYPE html>
<html lang="ru" th:fragment="layout(title, content, links, scripts)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--/*/ <th:block th:replace="${links}"> /*/--><!--/*/ </th:block> /*/-->
</head>
<body>
    <header th:replace="~{header::header}"></header>
    <div th:replace="${content}"></div>
    <footer th:replace="~{footer::footer}"></footer>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!--/*/ <th:block th:replace="${scripts}"> /*/--><!--/*/ </th:block> /*/-->
</body>
</html>
